<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Workout Homepage</title>

    
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
        <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="container d-flex justify-content-center">
        <div class="row">
          <div class="col-12 d-flex justify-content-center mb-3">
            <a class="navbar-brand" href="#"
            ><img
              id="MDB-logo"
              src="https://static.vecteezy.com/system/resources/thumbnails/000/539/318/small/hand_with_a_dumbbell.jpg"
              alt="MDB Logo"
              draggable="false"
              height="30"
          /></a>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav align-items-center mx-auto">
                <li class="nav-item">
                  <a class="nav-link mx-2" href="{% url 'index' %}"><i class="fas fa-plus-circle pe-2"></i>Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link mx-2" href="{% url 'my_plan' %}"><i class="fas fa-bell pe-2"></i>My Plans</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-2" href="{% url 'create_plan' %}"><i class="fas fa-heart pe-2"></i>Create Plan</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link mx-2" href="{% url 'logout' %}"><i class="fas fa-heart pe-2"></i>Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link mx-2" href="{% url 'login' %}"><i class="fas fa-heart pe-2"></i>Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-2" href="{% url 'register_user' %}"><i class="fas fa-heart pe-2"></i>Register</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
        <div class="container">
    {% block content %}



    {% endblock %}

</div>
    
</body>
</html>