{% extends 'workoutapp/index.html' %}



{% block content %}

<br><br><br><br><br><br>


    <h1>My Plans</h1>
    
<table>
    <tr>
        <th>Day</th>
        <th>Exercise</th>
        <th>Action</th>
      </tr>

      {% for plan in my_plan %}
      <tr>
        <td>{{ plan.day }}</td>
        <td>{{ plan.exercise }}</td>
        <td><a href="{% url 'delete_plan' plan.id %}" class="btn btn-lg btn-secondary">Delete</a></td>
      </tr>
      {% endfor %}

    </table>

      

{% endblock %}